doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=640,target-densitydpi=device-dpi')
    link(rel='stylesheet', type='text/css', href='http://cdn.bootcss.com/normalize/3.0.2/normalize.css')
    link(rel='stylesheet', type='text/css', href='/demo/1/public/css/style.css')
    title 中国排第几
  body(ontouchmove='event.preventDefault();')
    #all.all   
  script(type='text/javascript', src='/demo/1/public/js/bundle.min.js')