doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/demo/2/public/css/style.css')
    title 帧图动画生成器
  body(ontouchmove='event.preventDefault();')
    #reactMain
  script(type='text/javascript', src='/demo/2/public/js/main.js')